<div class="row bg-light">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-link" id="pabChooser" ngbDropdownToggle>{{pub}}</button>
      <div ngbDropdownMenu aria-labelledby="pabChooser">
        <button *ngFor="let p of pubs" class="dropdown-item">{{p}}</button>
      </div>
    </div>
  </div>
  <div class="col text-right">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-link" id="userMenu" ngbDropdownToggle>{{currentUser}}</button>
      <div ngbDropdownMenu aria-labelledby="userMenu">
        <button class="dropdown-item" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>
