<ngb-alert [type]="'danger'" (close)="clearError()" *ngIf="errorMessage">
  {{ errorMessage }}
</ngb-alert>
<div class="row">
  <div class="col-sm-10">
    Склад
  </div>
  <div class="col-sm-2">
    <button class="btn btn-outline-primary" (click)="startAddingKeg()" *ngIf="beers && breweries && !addingMode">
      <i class="far fa-plus-square"></i>
    </button>
    <button class="btn btn-outline-secondary" (click)="refresh()" *ngIf="kegs && beers && breweries">
      <i class="fas fa-sync"></i>
    </button>
    <button class="btn" [ngClass]="showAll?'btn-outline-secondary':'btn-outline-primary'" (click)="switchShowAll()" *ngIf="kegs && beers && breweries">
			<i class="fas fa-filter"></i>
    </button>
  </div>
</div>
<ng-container *ngIf="addingMode">
  <div class="jumbotron jumbotron-fluid">
    <app-beer-keg-editor [mode]="'add'" [beers]="beers" [breweries]="breweries" [beerKeg]="currentBeerKeg"
                         (updated)="addKeg($event)" (canceled)="cancelUpdatingKeg()" ></app-beer-keg-editor>
  </div>
</ng-container>
<table class="table">
  <thead>
  <tr>
    <th sortable="brewery" (sort)="onSort($event)">Производитель</th>
    <th sortable="beer" (sort)="onSort($event)">Сорт</th>
    <th sortable="abv" (sort)="onSort($event)">ABV</th>
    <th sortable="og"  (sort)="onSort($event)">OG</th>
    <th sortable="ibu"  (sort)="onSort($event)">IBU</th>
    <th sortable="packed"  (sort)="onSort($event)">Упаковано</th>
    <th sortable="best-before"  (sort)="onSort($event)">Годно до</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
	<ng-container *ngFor="let keg of kegs$">
		<tr [contextMenu]="basicMenu" [contextMenuSubject]="keg">
			<ng-container *ngIf="keg.beer && keg.beer.id != 'NA'; else noBeer">
				<td>
					<span *ngIf="isInQueue(keg) && !isInDirectQueue(keg)" title="В общей очереди"><i class="fas fa-stopwatch"></i>&nbsp;</span>
					<span *ngIf="isInDirectQueue(keg)" title="В прямой очереди"><i class="fas fa-traffic-light"></i>&nbsp;</span>
					<span *ngIf="keg.beer.brewery.country" [ngClass]="'flag-icon flag-icon-squared flag-icon-'+keg.beer.brewery.country.id.toLocaleLowerCase() "></span>
					{{keg.beer.brewery.name}}</td>
				<td>{{keg.beer.name}}</td>
				<td>{{keg.beer.alcohol}}</td>
				<td>{{keg.beer.gravity}}</td>
				<td>{{keg.beer.ibu}}</td>
			</ng-container>
			<ng-template #noBeer>
				<td colspan="5">
					<h4 class="text-center">
						<span class="badge badge-warning"><i class="fas fa-exclamation-triangle"></i>&nbsp;Неизвестное пиво!</span>
					</h4>
				</td>
			</ng-template>
			<td>
				<app-short-date *ngIf="keg" [date]="keg.packageDate"></app-short-date>
			</td>
			<td>
				<app-short-date *ngIf="keg" [date]="keg.bestBeforeDate"></app-short-date>
			</td>
			<td>
				<ng-container *ngIf="keg">
					<button (click)="onContextMenu($event, keg)" class="btn btn-light">...</button>
				</ng-container>
			</td>
		</tr>
		<tr class="table-info" *ngIf="editingMode && currentBeerKeg.id === keg.id">
			<td colspan="7">
				<app-beer-keg-editor [beers]="beers" [breweries]="breweries" [beerKeg]="currentBeerKeg"
														 (updated)="updateKeg($event)" (canceled)="cancelUpdatingKeg()" ></app-beer-keg-editor>
			</td>
		</tr>
	</ng-container>
  </tbody>
</table>

<context-menu>
  <ng-template contextMenuItem let-keg [enabled]="isBeerDefined" (execute)="addToQueue($event.item)">
    &nbsp;Добавить "{{formatterBeer(keg?.beer)}}" в общую очередь&nbsp;
  </ng-template>
  <ng-template contextMenuItem let-keg (execute)="removeFromStorage($event.item)">
    &nbsp;Удалить "{{formatterBeer(keg?.beer)}}" из склада&nbsp;
  </ng-template>
	<ng-template contextMenuItem let-keg (execute)="startEditingKeg($event.item)">
    &nbsp;Редактировать "{{formatterBeer(keg?.beer)}}" &nbsp;
  </ng-template>
</context-menu>
