<div class="alert alert-danger" role="alert" *ngIf="errorMessage" style="width:500px;">
  {{errorMessage}}
</div>
<div>Склад</div>
<div *ngIf="addingMode===false; else addKegContainer">
  <button class="btn btn-outline-primary" (click)="showAddingKeg()"><i class="far fa-plus-square"></i></button>
</div>
<ng-template #addKegContainer>
  <div class="bg-info">
    <app-beer-keg-editor [beers]="beers" [beerKeg]="currentBeerKeg"
                         (added)="addKeg($event)" (canceled)="cancelAddingKeg()" ></app-beer-keg-editor>
  </div>
</ng-template>
<table class="table">
  <thead>
  <tr>
    <th>Производитель</th>
    <th>Сорт</th>
    <th>ABV</th>
    <th>OG</th>
    <th>IBU</th>
    <th>Упаковано</th>
    <th>Годно до</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let keg of kegs" [contextMenu]="basicMenu" [contextMenuSubject]="keg">
    <td>
      <ng-container *ngIf="keg.beer">{{keg.beer.brewery.name}}</ng-container>
    </td>
    <td>
      <ng-container *ngIf="keg.beer">{{keg.beer.name}}</ng-container>
    </td>
    <td>
      <ng-container *ngIf="keg.beer">{{keg.beer.alcohol}}</ng-container>
    </td>
    <td>
      <ng-container *ngIf="keg.beer">{{keg.beer.gravity}}</ng-container>
    </td>
    <td>
      <ng-container *ngIf="keg.beer">{{keg.beer.ibu}}</ng-container>
    </td>
    <td>
      <ng-container *ngIf="keg">
        <time *ngIf="keg.packageDate">{{keg.packageDate | amFromUtc | amDateFormat: 'YYYY-MM-DD'}}</time>
      </ng-container>
    </td>
    <td>
      <ng-container *ngIf="keg">
        <time *ngIf="keg.bestBeforeDate">{{keg.bestBeforeDate | amFromUtc | amDateFormat: 'YYYY-MM-DD'}}</time>
      </ng-container>
    </td>
  </tr>
  </tbody>
</table>

<context-menu>
  <ng-template contextMenuItem let-keg (execute)="addToQueue($event.item)">
    &nbsp;Добавить "{{keg?.beer?.brewery?.name}} - {{keg?.beer?.name}}" в общую очередь&nbsp;
  </ng-template>
  <ng-template contextMenuItem let-keg (execute)="removeFromStorage($event.item)">
    &nbsp;Удалить "{{keg?.beer?.brewery?.name}} - {{keg?.beer?.name}}" из склада&nbsp;
  </ng-template>
</context-menu>
