<div class="alert alert-danger" role="alert" *ngIf="errorMessage" style="width:500px;">
  {{errorMessage}}
</div>
<div>Dashboard</div>
<table class="table">
  <thead>
  <tr>
    <th>Кран</th>
    <th>Производитель</th>
    <th>Сорт</th>
    <th>ABV</th>
    <th>OG</th>
    <th>IBU</th>
    <th>Поставили</th>
    <th>Остаток</th>
    <th>Прямая очередь</th>
    <th>Общая очередь</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tap of taps">
    <td>{{tap.number}}</td>
    <ng-container *ngIf="kegs[tap.number]">
      <td>{{kegs[tap.number].keg.beer.brewery.name}}</td>
      <td>{{kegs[tap.number].keg.beer.name}}</td>
      <td>{{kegs[tap.number].keg.beer.alcohol}}</td>
      <td>{{kegs[tap.number].keg.beer.gravity}}</td>
      <td>{{kegs[tap.number].keg.beer.ibu}}</td>
      <td>{{kegs[tap.number].installTime | date:'short'}}</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </ng-container>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  </tbody>
</table>
