<div class="alert alert-danger" role="alert" *ngIf="errorMessage" style="width:500px;">
  {{errorMessage}}
</div>
<div>Dashboard</div>
<table class="table">
  <thead>
  <tr>
    <th>Кран</th>
    <th>Производитель</th>
    <th>Сорт</th>
    <th>ABV</th>
    <th>OG</th>
    <th>IBU</th>
    <th>Поставили</th>
    <th>Остаток</th>
    <th>Прямая очередь</th>
    <th>Общая очередь</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tap of taps">
    <td>{{tap.number}}</td>
    <td>
      <ng-container *ngIf="kegs[tap.number]">{{kegs[tap.number].keg.beer.brewery.name}}</ng-container>
    </td>
    <td>
      <ng-container *ngIf="kegs[tap.number]">{{kegs[tap.number].keg.beer.name}}</ng-container>
    </td>
    <td>
      <ng-container *ngIf="kegs[tap.number]">{{kegs[tap.number].keg.beer.alcohol}}</ng-container>
    </td>
    <td>
      <ng-container *ngIf="kegs[tap.number]">{{kegs[tap.number].keg.beer.gravity}}</ng-container>
    </td>
    <td>
      <ng-container *ngIf="kegs[tap.number]">{{kegs[tap.number].keg.beer.ibu}}</ng-container>
    </td>
    <td>
      <ng-container *ngIf="kegs[tap.number]">{{kegs[tap.number].installTime | date:'short'}}</ng-container>
    </td>
    <td>
      <ng-container *ngIf="weights[tap.number]">{{weights[tap.number] | number:'1.1-1'}}</ng-container>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  </tbody>
</table>
