<div class="alert alert-danger" role="alert" *ngIf="errorMessage" style="width:500px;">
  {{errorMessage}}
</div>
<div class="row">
  <div class="col-sm-2">
    Dashboard
  </div>
	<div class="col-sm-8">
		<span class="badge badge-primary" title="На кранах">
			<i class="fas fa-beer"></i>&nbsp;
			<span class="badge badge-light">{{totalOnTap}}</span>
		</span>&nbsp;
		<span class="badge badge-success" title="Прямая очередь">
			<i class="fas fa-traffic-light"></i>&nbsp;
			<span class="badge badge-light">{{totalInDirectQueue}}</span>
		</span>&nbsp;
		<span class="badge badge-warning" title="Общая очередь">
			<i class="fas fa-stopwatch"></i>&nbsp;
			<span class="badge badge-light">{{totalInQueue}}</span>
		</span>&nbsp;
		<span class="badge badge-info" title="Пиво на складе">
			<i class="fas fa-boxes"></i>&nbsp;
			<span class="badge badge-light">{{totalInStorage}}</span>
		</span>&nbsp;
		<span class="badge badge-info" title="Пиво не в очереди">
			<i class="fas fa-battery-empty"></i>&nbsp;
			<span class="badge badge-light">{{totalNotInQueue}}</span>
		</span>&nbsp;
		<span class="badge badge-danger" *ngIf="unknownInStorage > 0" title="Неизвестное пиво на складе">
			<i class="fas fa-exclamation-triangle"></i>&nbsp;
			<span class="badge badge-light">{{unknownInStorage}}</span>
		</span>&nbsp;
	</div>
	<div class="col-sm-2 text-right">
    <button class="btn btn-outline-secondary" (click)="refresh()" *ngIf="taps">
      <i class="fas fa-sync"></i>
    </button>
  </div>
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col"><i class="fas fa-beer"></i>&nbsp;Кран</th>
    <th scope="col">Производитель</th>
    <th scope="col">Сорт</th>
    <th scope="col">ABV</th>
    <th scope="col">OG</th>
    <th scope="col">IBU</th>
    <th scope="col">Поставили</th>
    <th scope="col">Остаток</th>
    <th scope="col"><i class="fas fa-traffic-light"></i>&nbsp;Прямая очередь</th>
    <th scope="col"><i class="fas fa-stopwatch"></i>&nbsp;Общая очередь</th>
    <th scope="col">&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let tap of taps">
    <tr class="table-info" *ngIf="weighting && tap && weighting.id === tap.id">
      <td colspan="10">
        <div>
          <app-weight-editor [weight]="weights[tap.number] | number:'1.1-1'"
                             (weighted)="onWeighted($event)"
                             (canceled)="onWeightingCancelled()"></app-weight-editor>
        </div>
      </td>
    </tr>
		<tr class="table-info" *ngIf="pricing && tap && pricing.id === tap.id">
      <td colspan="10">
        <div>
          <app-beer-price-editor [price]="prices[kegs[tap.number].keg.beer.id]" (updated)="onPriced($event)"
																 (canceled)="onPricingCancelled()"></app-beer-price-editor>
        </div>
      </td>
    </tr>
    <tr [contextMenu]="tapMenu" [contextMenuSubject]="tap">
      <td>
				{{tap.number}}
				<span *ngIf="kegs[tap.number] && (tap.status % 16 >= 8)" title="Оставить пустым"><i class="fas fa-thermometer-empty"></i></span>
				<span *ngIf="kegs[tap.number] && (tap.status % 8 >= 4)" title="Повторить пиво"><i class="fas fa-redo"></i></span>
				<span *ngIf="tap.status % 2 >= 1" title="Проблема" class="text-warning"><i class="fas fa-exclamation-triangle"></i></span>
				<span class="badge badge-danger" *ngIf="kegs[tap.number] && ! prices[kegs[tap.number].keg.beer.id]" title="Неоцененное пиво на кране"><i class="fas fa-hryvnia"></i></span>
			</td>
      <td>
        <ng-container *ngIf="kegs[tap.number]">{{kegs[tap.number].keg.beer.brewery.name}}</ng-container>
      </td>
      <td>
        <ng-container *ngIf="kegs[tap.number]">{{kegs[tap.number].keg.beer.name}}</ng-container>
      </td>
      <td>
        <ng-container *ngIf="kegs[tap.number]">{{kegs[tap.number].keg.beer.alcohol}}</ng-container>
      </td>
      <td>
        <ng-container *ngIf="kegs[tap.number]">{{kegs[tap.number].keg.beer.gravity}}</ng-container>
      </td>
      <td>
        <ng-container *ngIf="kegs[tap.number]">{{kegs[tap.number].keg.beer.ibu}}</ng-container>
      </td>
      <td>
        <ng-container *ngIf="kegs[tap.number]">
          <time *ngIf="kegs[tap.number].installTime">{{kegs[tap.number].installTime | amFromUtc | amDateFormat:
            'YYYY-MM-DD'}}
          </time>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="weights[tap.number]">{{weights[tap.number] | number:'1.1-1'}}</ng-container>
      </td>
      <td>
        <ng-container *ngIf="directQueue[tap.number]">
        <span *ngFor="let keg of directQueue[tap.number]">
          {{keg.keg.beer.brewery.name}}-{{keg.keg.beer.name}}
        </span>
        </ng-container>
        <section dndDropzone (dndDrop)="addToDirectQueue($event.data, tap)">&nbsp;
          <!--optional placeholder element for dropzone-->
          <!--will be removed from DOM on init-->
          <div class="drop-dest" dndPlaceholderRef>&nbsp;
          </div>
        </section>
      </td>
      <td>
        <ng-container *ngIf="queue && queue[tap.number]">
          <div [dndDraggable]="queue[tap.number]"
               [dndEffectAllowed]="'all'"
               [dndDisableIf]="false" class="card">
						<span>
							<i class="fas fa-arrows-alt"></i>&nbsp;&nbsp;{{queue[tap.number].keg.beer.brewery.name}}&nbsp;-&nbsp;{{queue[tap.number].keg.beer.name}}
						</span>
          </div>
        </ng-container>
				<section dndDropzone (dndDrop)="reorderQueue($event.data, tap)">&nbsp;
					<!--optional placeholder element for dropzone-->
					<!--will be removed from DOM on init-->
					<div class="drop-dest" dndPlaceholderRef>&nbsp;
					</div>
				</section>
      </td>
			<td>
				<ng-container *ngIf="kegs[tap.number]">
					<button (click)="onContextMenu($event, tap)" class="btn btn-light">...</button>
				</ng-container>
			</td>
    </tr>
  </ng-container>
  </tbody>
</table>

<context-menu #tapMenu>
  <ng-template contextMenuItem let-tap [enabled]="hasKegOnTap" (execute)="showWeights($event.item)">
    &nbsp;Взвесить&nbsp;{{getBeerNameOnTap(tap.number)}}
  </ng-template>
	<ng-template contextMenuItem let-tap [enabled]="hasKegOnTap" (execute)="showPrices($event.item)">
    &nbsp;Оценить&nbsp;{{getBeerNameOnTap(tap.number)}}
  </ng-template>
  <ng-template contextMenuItem let-tap [enabled]="hasKegOnTap" (execute)="removeBeer($event.item)">
    &nbsp;Снять {{getBeerNameOnTap(tap.number)}} с крана&nbsp;
  </ng-template>
  <ng-template contextMenuItem let-tap [enabled]="hasKegsOnlyInQueue" (execute)="setFromDirectQueue($event.item)">
    &nbsp;Поставить {{getBeerNameOnDirectQueueOnTap(tap.number)}} из прямой очереди&nbsp;
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem let-tap [enabled]="hasKegsOnlyInQueue" (execute)="removeFromDirectQueue($event.item)">
    &nbsp;Удалить {{getBeerNameOnDirectQueueOnTap(tap.number)}} из прямой очереди&nbsp;
  </ng-template>
	<ng-template contextMenuItem divider="true"></ng-template>
	<ng-template contextMenuItem let-tap [enabled]="hasKegOnTap" (execute)="repeatBeer($event.item)">
		&nbsp;Запланировать: повторить {{getBeerNameOnTap(tap.number)}}&nbsp;
	</ng-template>
	<ng-template contextMenuItem let-tap (execute)="removeAllFromDirectQueue($event.item)">
    &nbsp;Запланировать: оставить пустым&nbsp;
  </ng-template>
	<ng-template contextMenuItem let-tap (execute)="markAsProblematic($event.item)">
    &nbsp;Пометить: проблема&nbsp;
  </ng-template>
	<ng-template contextMenuItem let-tap (execute)="clearStatus($event.item)">
    &nbsp;Убрать пометки&nbsp;
  </ng-template>
</context-menu>
